
<div class="join-container">
    <header class="join-header">
        <h1><i class="fas fa-smile"></i> Enaland Discuss</h1>
    </header>
    <main class="join-main">
        <form action="/chat">
            <div>
                <label for="username">Username</label>
                <input
                    class="form-control"
                    type="hidden"
                    name="username"
                    id="username"
                    placeholder="Enter username..."
                    value="<%= req.user.username %>"
                    required
                />
            </div>
            <div>
                <label for="room">Room</label>
                <select name="room" id="room">
                    <option value="Discuss">Discuss</option>
                </select>
            </div>
            <button type="submit" class="btn">Join Chat</button>
        </form>
    </main>
</div>
